<%= render partial: "shared/main_nav" %>

<div class="page_content">
  <h2> Welcome, <%= current_user.user.first_name %>! </h2>

  <div class="charts">
    <div class="bar_chart">
      <%= column_chart({ "Drinks This Week" => current_user.drink_count_this_week, "Drinks Today" => current_user.drink_count_today}, colors: ["#00e600", "#00ff00"]) %>
    </div>

    <!-- <div class="pie_chart">
      <%= pie_chart({"Perfect Weeks" => current_user.weeks_status_count('Perfect'), "Under Weeks" => current_user.weeks_status_count('Under'), "Over Weeks" => current_user.weeks_status_count('Over'), "Untracked Weeks" => current_user.weeks_status_count('Untracked')}, colors: ["#00e600", "#00ff00", "#ff0000", "#efefef"], donut: true, legend: false) %>
    </div> -->
  </div>

  <div class="outer_column_container">

    <div class="dashboard_column left">
      <h2> Summary </h2>

      <% if current_user.drink_units_this_week <= 14 %>
        <div class="drink_summary" style="background-color: #ccffcc;">
          <p> You are currently under the recommended 14 units of alcohol per week. Keep it up! </p>
        </div>
      <% else %>
        <div class="drink_summary" style="background-color: #ffcccc;">
          <p> You are currently over the recommended 14 units of alcohol per week. </p>
        </div>
      <% end %>

      <div class="drink_summary">
        <p><b> Today </b></p>
        <p><b> <%= Time.current.strftime('%A, %B %-d, %Y') %></b></p>
        <p> Units: <%= current_user.drink_units_today %> </p>
        <p> Drinks: <%= current_user.drink_count_today %> </p>
      </div>

      <% week = current_user.generate_single_week_breakdown %>

      <div class="drink_summary">
        <p><b> This Week </b><span class='week_status' style="background-color: #<%= week[:background_color] %>; border-color: #<%= week[:background_color] %>;color: #<%= week[:font_color] %>;"><%= week[:week_status] %></span> </p>
        <p><b> <%= week[:start].strftime('%A, %B %-d') %> - <%= week[:end].strftime('%A, %B %-d') %> </b></p>
        <p> Units: <%= week[:units] %> </p>
        <p> Drinks: <%= week[:drinks] %> </p>
      </div>

      <div class="drink_summary">
        <p><b> This Month (<%= Time.current.strftime('%B') %>) </b></p>
        <p> Units: <%= current_user.drink_units_this_month %> </p>
        <p> Drinks: <%= current_user.drink_count_this_month %> </p>
      </div>

      <div class="drink_summary">
        <p><b> This Year (<%= Time.current.year %>) </b></p>
        <p> Units: <%= current_user.drink_units_this_year %> </p>
        <p> Drinks: <%= current_user.drink_count_this_year %> </p>
      </div>

      <div class="drink_summary">
        <p><b> All Time </b></p>
        <p> Units: <%= current_user.drink_units_all_time %> </p>
        <p> Drinks: <%= current_user.drink_count_all_time %> </p>
      </div>
    </div>

    <div class="dashboard_column">
      <h2> Weekly Breakdown </h2>

      <div class="drink_summary">
        <p><b> Total Weeks: </b><%= current_user.weeks_this_year %></p>
        <p><b> Perfect Weeks: </b><%= current_user.weeks_status_count('Perfect') %></p>
        <p><b> Under Weeks: </b><%= current_user.weeks_status_count('Under') %></p>
        <p><b> Over Weeks: </b><%= current_user.weeks_status_count('Over') %></p>
        <p><b> Untracked Weeks: </b><%= current_user.weeks_status_count('Untracked') %></p>
      </div>

      <% current_user.generate_weekly_breakdown.each do |week| %>
        <div class="drink_summary">
          <p><b> Week <%= week[:count] %> </b><span class='week_status' style="background-color: #<%= week[:background_color] %>; border-color: #<%= week[:background_color] %>; color: #<%= week[:font_color] %>;"><%= week[:week_status] %></span></p>
          <p><b> <%= week[:start].strftime('%A, %B %-d') %> - <%= week[:end].strftime('%A, %B %-d') %> </b></p>
          <p> Units: <%= week[:units] %> </p>
          <p> Drinks: <%= week[:drinks] %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>