<%= render partial: "shared/main_nav" %>

<div class="page_content">
  <h2> Welcome, <%= current_user.user.first_name %>! </h2>

  <% if current_user.drink_units_this_week <= 14 %>
    <div class="drink_container" style="background-color: #99ffcc;">
      <p> You are currently under the recommended 14 units of alcohol per week. Keep it up! </p>
    </div>
  <% else %>
    <div class="drink_container" style="background-color: #ffcccc;">
      <p> You are currently over the recommended 14 units of alcohol per week. It is recommended that you no longer drink the rest of this week. </p>
    </div>
  <% end %>

  <div class="drink_container" style="background-color: #bfffea;">
    <p><b> Today </b></p>
    <p><b> <%= Date.current.strftime('%A, %B %-d, %Y') %></b></p>
    <p> Units: <%= current_user.drink_units_today %> </p>
    <p> Drinks: <%= current_user.drink_count_today %> </p>
  </div>

  <% if current_user.drink_units_this_week == 0 %>
    <% background_color = '009900' %>
    <% font_color = 'FFFFFF' %>
    <% week_status = 'Perfect' %>
  <% elsif current_user.drink_units_this_week <= 7 %>
    <% background_color = '00CC00' %>
    <% font_color = 'FFFFFF' %>
    <% week_status = 'Really Good' %>
  <% elsif current_user.drink_units_this_week <= 14 %>
    <% background_color = 'E5FFCC' %>
    <% font_color = '000000' %>
    <% week_status = 'Good' %>
  <% elsif current_user.drink_units_this_week <= 21 %>
    <% background_color = 'CC0000' %>
    <% font_color = 'FFFFFF' %>
    <% week_status = 'Over' %>
  <% elsif current_user.drink_units_this_week > 21 %>
    <% background_color = '990000' %>
    <% font_color = 'FFFFFF' %>
    <% week_status = 'Really Over' %>
  <% end %>

  <div class="drink_container" style="background-color: #bff4ff;">
    <p><b> This Week <span class='week_status' style="background-color: #<%= background_color %>; border-color: #<%= background_color %>;color: #<%= font_color %>;"><%= week_status %></span> </b></p>
    <p><b> <%= Date.today.at_beginning_of_week.strftime('%A, %B %-d') %> - <%= Date.today.at_end_of_week.strftime('%A, %B %-d') %> </b></p>
    <p> Units: <%= current_user.drink_units_this_week %> </p>
    <p> Drinks: <%= current_user.drink_count_this_week %> </p>
  </div>

  <div class="drink_container">
    <p><b> This Year (<%= Date.today.year %>) </b></p>
    <p> Units: <%= current_user.drink_units_this_year %> </p>
    <p> Drinks: <%= current_user.drink_count_this_year %> </p>
  </div>

  <div class="drink_container">
    <p><b> All Time </b></p>
    <p> Units: <%= current_user.drink_units_all_time %> </p>
    <p> Drinks: <%= current_user.drink_count_all_time %> </p>
  </div>

  <h2> Weekly Breakdown </h2>

  <div class="drink_container" style="background-color: #bff4ff;">
    <p><b> Total Weeks: <%= current_user.weeks_this_year %> </b></p>

    <p><b> Perfect Weeks: <%= current_user.weeks_status_count('Perfect') %> </b></p>
    <p><b> Really Good Weeks: <%= current_user.weeks_status_count('Really Good') %> </b></p>
    <p><b> Good Weeks: <%= current_user.weeks_status_count('Good') %> </b></p>
    <p><b> Over Weeks: <%= current_user.weeks_status_count('Over') %> </b></p>
    <p><b> Really Over Weeks: <%= current_user.weeks_status_count('Really Over') %> </b></p>
  </div>

  <% current_user.generate_weekly_breakdown.each do |week| %>
    <% if current_user.drink_units_specific(week[:start], week[:end]) == 0 %>
      <% background_color = '009900' %>
      <% font_color = 'FFFFFF' %>
      <% week_status = 'Perfect' %>
    <% elsif current_user.drink_units_specific(week[:start], week[:end]) <= 7 %>
      <% background_color = '00CC00' %>
      <% font_color = 'FFFFFF' %>
      <% week_status = 'Really Good' %>
    <% elsif current_user.drink_units_specific(week[:start], week[:end]) <= 14 %>
      <% background_color = 'E5FFCC' %>
      <% font_color = '000000' %>
      <% week_status = 'Good' %>
    <% elsif current_user.drink_units_specific(week[:start], week[:end]) <= 21 %>
      <% background_color = 'CC0000' %>
      <% font_color = 'FFFFFF' %>
      <% week_status = 'Over' %>
    <% elsif current_user.drink_units_specific(week[:start], week[:end]) > 21 %>
      <% background_color = '990000' %>
      <% font_color = 'FFFFFF' %>
      <% week_status = 'Really Over' %>
    <% end %>

    <div class="drink_container">
      <p><b> Week <%= week[:count] %> <span class='week_status' style="background-color: #<%= background_color %>; border-color: #<%= background_color %>; color: #<%= font_color %>;"><%= week_status %></span></b></p>
      <p><b> <%= week[:start].strftime('%A, %B %-d') %> - <%= week[:end].strftime('%A, %B %-d') %> </b></p>
      <p> Units: <%= week[:units] %> </p>
      <p> Drinks: <%= week[:drinks] %> </p>
    </div>
  <% end %>
</div>