<%= render partial: "shared/main_nav" %>

<div class="page_content">
  <h2> Update Drink </h2>

  <div class="edit_drink_input">
    <%= form_with url: drink_path(@updated_drink), method: :patch, data: {turbo: false} do |form| %>
      <%= form.label :drink_type, "Drink Type:" %>
      <%= form.select :drink_type, ['Beer', 'Wine', 'Spirit', 'Seltzer', 'Cider', 'Other'], selected: @updated_drink.drink_type, class: "form-control" %> <br><br>

      <%= form.label :ounces, "Ounces:" %>
      <%= form.text_field :ounces, inputmode: 'numeric', value: @updated_drink.ounces %>

      <%= form.label :percentage, "ABV Percentage:" %>
      <%= form.text_field :percentage, inputmode: 'numeric', value: @updated_drink.percentage %>

      <%= form.submit "Update Drink" %>
    <% end %>
  </div>
</div>