<%= render partial: "shared/main_nav" %>

<div class="page_content">
  <h2> Add a Drink </h2>

  <div class="new_drink_input">
    <%= form_with url: drinks_path, method: :post, data: {turbo: false} do |form| %>
      <%= form.label :drink_type, "Drink Type:" %>  
      <%= form.select :drink_type, ['Beer', 'Wine', 'Spirit', 'Seltzer'], selected: 'Beer', class: "form-control" %> <br><br>

      <%= form.label :ounces, "Ounces:" %>
      <%= form.text_field :ounces, type: 'number' %>

      <%= form.label :percentage, "ABV Percentage:" %>
      <%= form.text_field :percentage, type: 'number' %>

      <%= form.submit "Add Drink" %>
    <% end %>
  </div>
</div>