<!DOCTYPE html>
<html>
  <head>
    <title> Taper </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('drink_favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <% flash.each do |type, message| %>
      <% if type == 'error' %>
        <div class="flash_message error">
          <p> <%= message %> </p>
        </div>
      <% else %>
        <div class="flash_message success">
          <p> <%= message %> </p>
        </div>
      <% end %>
    <% end %>
  </body>
</html>